body {
  margin: 15px;
  background-color: #f0f8ff;
}

.list-group .a,
.list-group-item-action {
  text-decoration: none;
  outline: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  margin: 10px auto;
  width: 700px;
}

form-label {
  margin: 10px auto;
  margin-bottom: 30px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
